header
  .container
    nav
      div
        
      .navigation-right-side
        if autorized
         span #{userData.email}
         button(id='logout') logout
        else
          a(href='/app/signup') Sign up
          a(href='/app/login') Sign in