table.links-table
    thead
        tr
            td Link
            td New link
            td Date of creation
    tbody
        each item in data.docs
            - const short = String(item.from).substr(0, 22) + '...'
            - const to = "https:/click.com/" + item.key
            - const date = new Date(item.date).toISOString().slice(0,10)
            - const statLink = "/app/statistics?link=" + item._id
            tr
                td 
                    span.short-link
                        =short
                    div.full-link
                        span= item.from
                td= to
                td= date
                td.to-stat
                    a(href=statLink)
                        button.default-btn statistics

