extends layouts/main

block styles
    style
        include ../styles/css/main.css
    style
        include ../styles/css/404.css

block body 
    .wraper 
        div.block
            h1.error-title 404
            span.error-text Click somewhere to go back
block scripts
    script
        include ../js/dist/notFound.bundle.js