extends layouts/main

block styles
    style
        include ../styles/css/main.css

block body
    .wraper
        include ./includes/header
        main
            include ./includes/navigation
            
            section
                include ./includes/links-list
block scripts
    script
        include ../js/dist/list.bundle.js