extends layouts/main

block styles
    style
        include ../styles/css/main.css

block title 
    title Add new link

block body
    .wraper
        include ./includes/header
        main
            include ./includes/navigation
            
            section
                include ./includes/add-link
        include ./includes/footer
block scripts
     script
            include ../js/dist/main.bundle.js