<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/main.css" />
    <title>Main page</title>
</head>
<body>
    <div class="wraper">
        <header>
            <div class="container">
                <nav>
                    <div>
                        <button>Eng</button>
                    </div>
                    <div class="navigation-right-side">
                        <!-- <a href="#">Sign out</a>
                        <a href="#">Sign in</a> -->
                        <a href="./main.html">Go back</a>
                    </div>
                </nav>
            </div>
        </header>
        <main>
         
        </main>
    </div>
</body>
</html>