extends layouts/main

block styles
    style
        include ../styles/css/main.css

block body
    .wraper
        include ./includes/header
        main
            include ./includes/navigation
            
            
block scripts
    script
        include ../js/dist/statistics.bundle.js